# udev rule for attached keyboards to start inputserver

KERNEL=="event?", SUBSYSTEM=="input", ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="01", ACTION=="add", PROGRAM=="/bin/echo $devpath | /bin/sed -e 's/\/input.*$//g' -e 's/^.*\///g'", RUN+="/usr/bin/logger JudgePad added: $kernel %c ", RUN+="/usr/local/bin/inputserver 10.0.1.14 5050 `hostname` /dev/input/$kernel $attr{devpath}"
